:root {
    /* Définition de la variable --modal-duration */
    --modal-duration: 0.1s;
}
body{
    width: 1440px;
}
/* Sélecteur pour l'élément avec l'ID photographerName */
#photographerName {
    font-size: 64px;
    margin: 0;
}

/* Sélecteur pour la classe city-country */
.city-country {
    color: #901C1C;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding-top: 0;
}

/* Sélecteur pour la classe photograph-header */
.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0 50px;
}

/* Sélecteur pour l'élément avec l'ID photographerInfoContainer */
#photographerInfoContainer {
    color: #525252;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* Sélecteur pour l'élément avec l'ID photographerImageContainer */
#photographerImageContainer {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

/* Sélecteur pour les images à l'intérieur de #photographerImageContainer */
#photographerImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.2);
    cursor: pointer;
}

/* Styles pour la lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: #fff;
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

.lightbox-content img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    border-radius: 5px;
    margin: 62px auto 62px auto;
}
.lightbox-content video {
    width: 100%;
    height: 900px;
    object-fit: cover;
    border-radius: 5px;
    margin: 62px auto 62px auto;
}

.close-btn {
    color: #901C1C;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 75px;
    cursor: pointer;
    margin: 1% 20%  auto auto;
}

.prev-media-button {
    width: 50px;
    margin-left: 22%;
    margin-top: -30%;
    position: absolute;
    background-color: #fff;
}

.next-media-button {
    width: 50px;
    margin-left: 75%;
    margin-top: -30%;
    position: absolute;
    background-color: #fff;
}
.fa-solid.fa-angle-right, .fa-angle-left{
    color: #901C1C;
   font-size: 50px
}
#mediaTitle {
    color: #901C1C;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin:-40px auto 20px 490px;
    
}
/* Sélecteur pour l'élément avec l'ID sortButtons */
#sortButtons {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 150px;
    position: absolute;
    margin-top: -50px;
}

/* Sélecteur pour l'élément avec l'ID sortButton */
#sortButton {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Sélecteur pour les boutons à l'intérieur de #sortButtons */
#sortButtons button {
    width: 170px;
    height: 57px;
    background-color: #901C1C;
    border: #fff;
    text-align: center;
    padding: 1px;
    cursor: pointer;
    margin-top: 2px;
}

#sortButtons button:hover {
    background-color: #DB8876;
    color: #fff;
}

#sortButtons button.active {
    background-color: #DB8876;
}

/* Sélecteur pour tous les boutons */
button {
    width: 170px;
    height: 57px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #901C1C;
    color: #fff;
    border: #fff;
    border: solid #fff 1px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

#titreSort {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    background-color: #fafafa;
    color: black;
}

.media-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px 0 0 100px;
    width: 26%;
}

#photographerMedia {
    display: flex;
    flex-wrap: wrap;
}

.media-card img,
video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.media-card button img {
    width: 20px;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.media-info {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.media-info p {
    color: #901C1C;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.likes-container {
    display: flex;
    gap: 2px;
}

.likes-container button {
    background-color: #fff;
    border-color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    align-self: center;
}

.fa-heart {
    align-self: center;
    align-items: center;
    color: #901C1C;
    font-size: 24px;
}

.fa-heart.liked {
    color: #901C1C;
    align-self: center;
    align-items: center;
    font-size: 24px;
}

.LikesTotalPrice {
    display: flex;
    justify-content: center;
}

.LikesTotalPrice p {
    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.fixed-container {
    position: fixed;
    width: 20%;
    bottom: 0;
    right: 36px;
    background-color: #DB8876;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.fixed-container .fa-heart {
    color: black;
    margin-right: 40px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
 }
.modal .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 0;
    margin-left: 0;
}
#modalContact{
    background-color:lightgray;
}
#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    position: absolute;
    left: 550px;
    top: 50px;
    width: 80%;
    height: 1180px;
    max-width: 650px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

#photograpName {
    display: flex;
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* Ajouter une hauteur pour le champ message */
#message {
    height: 170px;
}

/* Ajout des keyframes */
@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
    }
}