@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
/*Ajout font-size et font-weight*/
h1 {
    color: #901C1C;
    margin-right: 100px;
    font-size: 36px;
    font-weight: 400;
}
/*Ajout largeur*/
.logo {
    width: 200px;
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
       justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article figure{
    width: 200px;
    height: 200px;
    border-radius: 50%; /*Changer la forme de l'image - d'une forme carrée à un cercle*/
    overflow: hidden;
    position: relative;
    


}
.photographer_section article h2 {
    color: #D3573C;
    /*Ajout margin, text-align et font-weight*/
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
}
 /*Ajout margin*/
.photographer_section article P{
    margin-bottom:0;
}
/*Ajout et change la couleur, la taille de la police, le poids de la police, etc. de la ville et du pays */
.photographer_section article .city-country {
    color: #901C1C;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
/*Ajout  la taille de la police, le poids de la police, etc. du  slogan  */

.photographer_section article .tagline{
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
/*Ajout et change le couleur, la taille de la police, le poids de la police, etc. du  prix */

.photographer_section article .price{
    color: #757575;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
}

